@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";

$primary: #8c67ef;

$custom-colors: (
  'purple': ($purple, findColorInvert($purple)),
);

$link: $primary;
$link-invert: findColorInvert($primary);
$link-focus-border: $primary;

@import "~bulma/sass/utilities/_all.sass";