@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #8c67ef;

$custom-colors: (
  'purple': ($purple, findColorInvert($purple)),
);

$link: $primary;
$link-invert: findColorInvert($primary);
$link-focus-border: $primary;

$tablet: 769px;

@import "~bulma/sass/utilities/_all";